@charset "UTF-8";
.site-header {
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  color: #3BB77E;
}

.site-header nav {
  background-color: #fff;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 0.5px solid #ADADAD;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.upper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1250px) {
  .upper-nav {
    width: 1250px;
  }
}
@media (max-width: 1250px) {
  .upper-nav {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .upper-nav {
    flex-wrap: wrap;
    width: 100%;
  }
}

h1 {
  font-size: 10;
}

body {
  margin: 0;
}

.profile-cart-container {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .profile-cart-container {
    flex: 1;
  }
}
@media (min-width: 768px) {
  .profile-cart-container {
    gap: 40px;
  }
}

.logo-menu-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .logo-menu-container {
    flex: 1;
  }
}

.hamburger-trigger,
#hamburger-menu-icon,
.fa-bars {
  display: none;
}
@media (max-width: 768px) {
  .hamburger-trigger,
  #hamburger-menu-icon,
  .fa-bars {
    display: block;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}
.logo-upper {
  font-size: 24px;
}

.logo-lower {
  font-size: 14px;
  color: grey;
}

.lower-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .lower-nav {
    width: 100%;
    order: 2;
    margin-top: 15px;
  }
}

.search-mobile {
  border-right: 1px solid #3BB77E;
  border-top: 1px solid #3BB77E;
  border-bottom: 1px solid #3BB77E;
  border-left: none;
  height: 100%;
  width: 400px;
  padding: 0;
  padding: 4px 0;
  border-radius: 0 20px 20px 0;
}

.search-container-mobile {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .search-container-mobile {
    width: 100%;
  }
}

.search-mobile:focus {
  outline: none;
}

.magnifying-glass {
  border-left: 1px solid #3BB77E;
  border-top: 1px solid #3BB77E;
  border-bottom: 1px solid #3BB77E;
  border-right: none;
  background-color: #fff;
  height: 100%;
  border-radius: 20px 0 0 20px;
  padding: 3px 3px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container-mobile {
  position: relative;
}

.search-products {
  width: 100vw;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .search-products {
    bottom: -132.5px;
  }
}

.search-product-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #ADADAD;
  cursor: pointer;
  transition: all 200ms;
}
.search-product-container h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #253D4E;
}
.search-product-container p {
  margin: 0;
  font-size: 12px;
  color: #ADADAD;
}
.search-product-container h2 {
  margin: 0;
  font-size: 18px;
  font-family: "REM";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F35244;
}
.search-product-container img {
  height: 75px;
  width: 75px;
}

.search-product-info-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.nav-search-container {
  display: flex;
  flex-direction: column;
}

.search-product-container:hover {
  filter: grayscale(0.6);
  background: #f1f1f1;
}

h1, p {
  font-family: "Quicksand", sans-serif;
}

.site-footer {
  background-color: #3BB77E;
  color: white;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-h1 {
  margin-bottom: 10px;
}

.footer-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.expandable-section {
  display: inline-block;
  position: relative;
}

.expand-trigger {
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
  margin-left: 15px;
}

.expand-trigger i {
  font-size: 12px;
  transition: transform 0.3s;
}

.expand-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  width: 100%;
  color: white;
  margin-top: 10px;
  text-align: left;
}

.expandable-section:hover .expand-content {
  max-height: 200px;
}

.expandable-section:hover .expand-trigger i {
  transform: rotate(180deg);
}

.contact-info {
  padding: 5px 0;
}

.contact-info p {
  margin: 5px 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
  .expand-content {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
#copyright-text {
  font-size: 0.75rem;
  color: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #FFFFFF;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F7F6;
}
@media (min-width: 768px) {
  main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
main h2 {
  color: #3BB77E;
}

.hamburger-trigger {
  cursor: pointer;
}
@media (min-width: 768px) {
  .hamburger-trigger {
    display: none;
  }
}

#mainOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  #mainOverlay {
    align-items: flex-end;
    padding-top: 60px;
  }
}

#popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
}
@media (max-width: 767px) {
  #popupOverlay {
    align-items: flex-end;
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  #popupOverlay {
    display: block !important;
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .popup-content.productform {
    display: flex !important;
  }
}

.category-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  flex-shrink: 0;
  background-color: #3BB77E;
  color: #FFFFFF;
  justify-content: flex-start;
  width: 300px;
  height: 43px;
  padding: 4px 202px 4px 30px;
  gap: 40px;
  font-family: "REM", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
.category-btns button:hover {
  background-color: transparent;
  color: #3BB77E;
  border-color: #3BB77E;
}
.category-btns button:focus {
  outline: none;
}
.category-btns button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.popup-content {
  background-color: #F8F7F6;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .popup-content {
    height: calc(100vh - 110px);
    max-height: calc(100vh - 50px);
    border-radius: 20px 20px 0 0;
    overflow-y: auto;
  }
}
@media (min-width: 768px) {
  .popup-content {
    width: 350px;
    min-height: calc(100vh - 100px);
    border-radius: 0px;
  }
}
.popup-content input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #3BB77E;
  padding: 5px;
  box-sizing: border-box;
}
.popup-content select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #3BB77E;
  padding: 5px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
@media (max-width: 767px) {
  .popup-content select {
    font-size: 16px;
  }
}
.popup-content #product-add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  flex-shrink: 0;
  background-color: #3BB77E;
  color: #FFFFFF;
  width: 314px;
  height: 46px;
  font-family: "REM", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  max-width: 310px;
}
.popup-content #product-add-btn:hover {
  background-color: transparent;
  color: #3BB77E;
  border-color: #3BB77E;
}
.popup-content #product-add-btn:focus {
  outline: none;
}
.popup-content #product-add-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.popup-content h2.desktop-title {
  color: #3BB77E;
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
}

@media (min-width: 768px) {
  .popup-content:nth-child(2) {
    width: 500px;
    max-width: 1000px;
    min-height: calc(10vh - 100px);
    height: 500px;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  .popup-content:nth-child(3) {
    width: 500px;
    max-width: 1000px;
    min-height: calc(10vh - 100px);
    height: 500px;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  .popup-content:nth-child(4) {
    width: 500px;
    max-width: 1000px;
    min-height: calc(10vh - 100px);
    height: 500px;
    border-radius: 20px;
    padding: 30px 50px;
    gap: 50px;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  color: #3BB77E;
}
@media (min-width: 768px) {
  .close-btn {
    display: none;
  }
}

#toggle-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  flex-shrink: 0;
  background-color: #3BB77E;
  color: #FFFFFF;
  width: 321px;
  height: 46px;
  font-family: "REM", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
#toggle-form-btn:hover {
  background-color: transparent;
  color: #3BB77E;
  border-color: #3BB77E;
}
#toggle-form-btn:focus {
  outline: none;
}
#toggle-form-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
@media (min-width: 768px) {
  #toggle-form-btn {
    display: none;
  }
}

.product {
  display: flex;
  height: 240px;
  cursor: pointer;
  flex-direction: column;
  background: #FFFFFF;
  width: 160px;
  padding: 15px 10px;
  font-weight: 600;
  border-radius: 15px;
  border: 2px solid #DEF9EC;
  transition: all 100ms;
}
.product h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.product h2 {
  margin: 0;
  text-align: center;
  color: #F35244;
  font-size: 24px;
  font-family: REM;
}
.product p {
  margin: 0;
  color: #ADADAD;
  font-size: 14px;
}
.product button {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  flex-shrink: 0;
  background-color: #3BB77E;
  color: #FFFFFF;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}
.product button:hover {
  background-color: transparent;
  color: #3BB77E;
  border-color: #3BB77E;
}
.product button:focus {
  outline: none;
}
.product button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.product:hover {
  transform: scale(1.05);
}

.product-image {
  height: 120px;
}

.products-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 767px) {
  .products-wrapper {
    justify-content: flex-start;
    padding: 20px;
  }
}

.all-products {
  background-color: #F8F7F6;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-products .products-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .all-products .products-heading {
    flex-direction: column;
    align-items: center;
  }
}
.all-products .products-heading h2 {
  text-align: center;
}
.all-products .products-heading .sort-select {
  width: 100%;
  max-width: 180px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #3BB77E;
  padding: 5px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 373px;
  background-color: #F8F7F6;
  margin: 0px 0px 20px 0px;
}
@media (min-width: 1018px) {
  .products-container {
    min-width: 751px;
  }
}
@media (max-width: 372px) {
  .products-container {
    justify-content: center;
  }
}

.name-button-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}
.name-button-container button {
  margin: 0;
}

.site-wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

.header-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  display: flex;
}
@media (min-width: 768px) {
  .header-img {
    width: 50%;
    height: auto;
    max-height: 400px;
    display: flex;
  }
}

.headerimg {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .headerimg {
    width: 100%;
    max-height: 400px;
    margin: 0px;
  }
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2FCE4;
  color: #253D4E;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px 0px 25px 0px;
}
.header-text h3 {
  font-size: 1rem;
}
.header-text h2 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
@media (min-width: 768px) {
  .header-text {
    width: 50%;
    max-height: 400px;
    margin: 0;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row-reverse;
    max-height: none;
    display: flex;
  }
}

.site-wrapper {
  margin: 0 auto;
}

.single-product-container {
  width: 300px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .single-product-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
  }
}

.close-category-container {
  width: 100%;
  display: flex;
}

.single-product-image {
  height: 260px;
  width: 200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .single-product-image {
    margin: 0;
  }
}

.lower-container {
  display: flex;
  flex-direction: column;
}
.lower-container h1 {
  margin: 0;
  font-family: REM;
  font-size: 48px;
  color: #F35244;
}
.lower-container h2 {
  margin: 0;
  color: black;
}
.lower-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  flex-shrink: 0;
  background-color: #3BB77E;
  color: #FFFFFF;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}
.lower-container button:hover {
  background-color: transparent;
  color: #3BB77E;
  border-color: #3BB77E;
}
.lower-container button:focus {
  outline: none;
}
.lower-container button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
@media (min-width: 768px) {
  .lower-container button {
    margin-top: 80px;
  }
}
@media (min-width: 768px) {
  .lower-container {
    width: 250px;
  }
}

.line {
  width: 300px;
  height: 1px;
  background: #3BB77E;
}
@media (min-width: 768px) {
  .line {
    width: 100%;
  }
}

.single-product-desc {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.single-product-desc h3 {
  margin: 0;
}
.single-product-desc p {
  margin: 0;
  text-wrap: wrap;
  white-space: wrap;
  word-break: break-word;
}
@media (min-width: 768px) {
  .single-product-desc {
    width: 100%;
  }
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  flex-shrink: 0;
  background-color: #3BB77E;
  color: #FFFFFF;
  width: 321px;
  height: 46px;
  font-family: "REM", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login-btn:hover {
  background-color: transparent;
  color: #3BB77E;
  border-color: #3BB77E;
}
.login-btn:focus {
  outline: none;
}
.login-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  flex-shrink: 0;
  background-color: #3BB77E;
  color: #FFFFFF;
  width: 321px;
  height: 46px;
  font-family: "REM", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.register-btn:hover {
  background-color: transparent;
  color: #3BB77E;
  border-color: #3BB77E;
}
.register-btn:focus {
  outline: none;
}
.register-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.välkommen-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nykund-container {
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin: 70px;
}
@media (min-width: 768px) {
  .login-container {
    margin-top: 0px;
  }
}
.login-container p {
  font-weight: 500;
  font-size: 16px;
}
.login-container ::-moz-placeholder {
  font-weight: 500;
  color: black;
  font-size: 16px;
}
.login-container ::placeholder {
  font-weight: 500;
  color: black;
  font-size: 16px;
}
.login-container h1 {
  color: #3BB77E;
}

.inputfield-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.hr-line {
  border-top: 1px solid #3BB77E;
  margin-top: 25px;
}

@media (width < 768px) {
  .categories {
    display: none;
  }
}/*# sourceMappingURL=admin.css.map */