@import '../navbar/navbar.scss';
@import '../footer/footer.scss';
@import '../../partials/_variables.scss';

body {
    margin: 0;
    background-color: $background-primary;
}

@import '../../partials/variables';
@import '../../partials/mixins';

body {
    margin: 0;
    padding: 0;
    font-family: $font-family-primary;
    background-color: $background-primary;
}


.admin-sidebar {
    background-color:$background-primary;
    font-family: $font-family-primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    input {
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid $basegreen;
        padding: 5px;
    }
    

    #product-add-btn {
        @include button-buy-big;
    }
    #image-preview-container {
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    #image-preview {
        max-width: 100%;
        max-height: 200px;
        border-radius: 5px;
        border: 1px solid #ddd;
        display: none;
    }
    
    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: none;
    }
}