@import '../../partials/_variables.scss';

.site-header {
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: $basegreen;
}

.site-header nav {
  background-color: #fff;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 0.5px solid $grey;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.upper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1250px) {
    width: 1250px;

  }
  @media (max-width: 1250px) {
    width: 100%;

  }
  @media (max-width: 768px) {
    flex-wrap: wrap; 
    width: 100%;
  }
}

h1 {
  font-size: 10;
}

body {
  margin: 0;
} 

.profile-cart-container {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
  
  @media (max-width: 768px) {
    flex: 1; 
}
@media (min-width: 768px) {
    gap: 40px;
  }
}

.logo-menu-container {
  display: flex;
  align-items: center;
  gap: 15px;
  
  @media (max-width: 768px) {
    flex: 1; 
  }
}
.hamburger-trigger,
#hamburger-menu-icon,
.fa-bars {
  display: none ;
  
  @media (max-width: 768px) {
    display: block ;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  line-height: 0.9;
  @media (min-width: 768px) {
  }
}

.logo-upper {
    font-size: 24px;
}

.logo-lower {
    font-size: 14px;
    color: grey;
}

.lower-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    @media (max-width: 768px) {
      width: 100%; 
      order: 2; 
      margin-top: 15px; 
    }
}

.search-mobile {
    border-right: 1px solid $basegreen;
    border-top: 1px solid $basegreen;
    border-bottom: 1px solid $basegreen;
    border-left: none;

    height: 100%;
    width: 400px;
    padding: 0;
    padding: 4px 0;
    border-radius: 0 20px 20px 0;
    
  
}

.search-container-mobile {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 768px) {
      width: 100%; 
    }
}

.search-mobile:focus {
    outline: none;
}

.magnifying-glass {
    border-left: 1px solid $basegreen;
    border-top: 1px solid $basegreen;
    border-bottom: 1px solid $basegreen;
    border-right: none;
    background-color: #fff;
    height: 100%;
    border-radius: 20px 0 0 20px;
    padding: 3px 3px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container-mobile {
    position: relative;
  }

  .search-products {
    width: 100vw;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
      bottom: -132.5px;
      
    }
  }

  .search-product-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid $grey;
    cursor: pointer;
    transition: all 200ms;
    
    
    h3{
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      color: $black;


    }
    p{
      margin: 0;
      font-size: 12px;
      color: $grey;


    }
    h2{
      margin: 0;
      font-size: 18px;
      font-family: 'REM';
      display: flex;
      justify-content: center;
      align-items: center;
      color: $red;


    }
    img {
      height: 75px;
      width: auto;
      
    }
   
  }

  .search-product-info-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    
  }

  .nav-search-container {
    display: flex;
    flex-direction: column;
  }

  .search-product-container:hover {
    filter: grayscale(0.6);
    background: #f1f1f1;
  }